@import 'assets/mixins.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  min-width: 1440px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
.wrapper {
  width: 83.3%;
  margin: 0 auto;
}

button:focus-visible, a:focus-visible, input:focus-visible, textarea:focus-visible {
  @include accessabilityFocus;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}