.subscribe-image {
  position: relative;
  width: 460px;
  // padding: 20px 13px;
  .subscribe-image__info {

    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    // bottom: 20px;
    // left: 13px;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    .subscribe-image__info-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px 13px;
      height: 100%;
      .subscribe-image__title {
        color: #E5E5E5;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .subscribe-image__description {
        color: #fff;
        font-size: 11px ;
      }
    }

  }
}